<div class="panel panel-primary">
  <div class="panel-heading">

      <h2 class="panel-title">Queue Administration</h2>

  </div>
  <div class="panel-body">
      <p>This is the panel that will allow to control the queue (go to the next number for example)
      </p>

    <p>Current Queue Position: 35</p>

    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default" ng-click="test()">Next</button>
        <button type="button" class="btn btn-default" ng-click="test()">Reset</button>
        
    </div>
  </div>
</div>