<div class="panel panel-primary">
  <div class="panel-heading">

      <h2 class="panel-title">Queue Administration</h2>

  </div>
  <div class="panel-body">
      <p>This is the panel that will allow to control the queue (go to the next number for example)
      </p>

    <p>Current Queue Position: {{queue.currentPosition}}</p>
    <p>Current rouleau: {{rouleau.currentTicketNumber}}</p>

    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default" ng-click="next()">Next Customer</button>
        <button type="button" class="btn btn-default" ng-click="reset()">Reset Queue</button>
        <button type="button" class="btn btn-default" ng-click="refresh()">refresh</button>
        
    </div>
  </div>
</div>