<div class="container  page-header" style="margin-top:60px;">

  <div class="row well well-lg">
    <div class="col-md-12">
    <div role="alert" ng-show="vm.error" class="alert alert-danger">{{vm.error}}</div>
      <h2 class="text-center">Wait Less</h2>

        <p class="lead">Stop waiting for hours for your turn
        </p>

      
        <div class="dropdown">
        
          <button href="/register" class="btn title-button hero-btn btn-lg btn-primary dropdown-toggle" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Take a ticket  <span class="caret"></span> 
          </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
              <li ng-repeat="queue in vm.queues"><a ng-click="vm.createTicket(queue._id)" >{{queue.nom}}</a></li>
            </ul>
          </div>
    </div>
  </div>
</div>
